.complex-input {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    ion-button {
        height: 100%;
        width: 100%;

        ion-icon {
            font-weight: bolder;
            color: white;
        }
    }
}

.content {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    form{
        width: 100%;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        
    }
}

.footer-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;
    padding: 1em;

    ion-button{
        width:100%;
    }
}