<ion-content>
  <div class="content">
    <ion-input [disabled]="true" label="Total" [value]="bill?.total" labelPlacement="stacked"
      fill="outline"></ion-input>
    <ion-input [disabled]="true" label="Por pagar" [value]="this.getToPay()" labelPlacement="stacked"
      fill="outline"></ion-input>

    <div class="duo">
      <ion-input #payInput type="number" [clearInput]="true" label="Abonar" name="pay" [(ngModel)]="pay"
        labelPlacement="stacked" fill="outline"></ion-input>
      <ion-button (click)="onApply()">
        <ion-icon color="light" name="add-circle"></ion-icon>
        <ion-label color="light">Aplicar</ion-label>
      </ion-button>
    </div>

    <ion-input [disabled]="true" label="Restante" [value]="this.getToPay() - pay" labelPlacement="stacked"
      fill="outline"></ion-input>
    <ion-button (click)="onProcess()">
      <ion-icon color="light" name="save"></ion-icon>
      <ion-label color="light">Procesar</ion-label>
    </ion-button>
  </div>
</ion-content>