<ion-header [translucent]="true">
  <app-header-bar
    [loading]="loading"
    [isModal]="false"
    [arrowBack]="true"
    [title]="title"
    [buttons]="headerButtons"
  ></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-button (click)="onSearchProduct()"> Buscar Producto </ion-button>
    <div class="image">
      <img src="{{ image }}" alt="" />
      <ion-button (click)="onChangePhoto()">Cambiar Imagen</ion-button>
    </div>
    <form [formGroup]="form">
      <div class="form-content">
        <ion-input
          label="NOMBRE"
          formControlName="name"
          label-placement="stacked"
          fill="outline"
          placeholder="Ingrese el nombre del producto"
          [clearInput]="true"
        ></ion-input>
        <ion-input
          label="DESCRIPCIÓN"
          formControlName="desc"
          labelPlacement="stacked"
          fill="outline"
          placeholder="Ingrese una descripción"
          [clearInput]="true"
        ></ion-input>
        <div class="complex-input">
          <ion-input
            [disabled]="true"
            labelPlacement="stacked"
            placeholder="Seleccione una categoría"
            fill="outline"
            label="CATEGORÍA"
            [value]="category?.name"
          ></ion-input>
          <ion-button (click)="onSearchCategory()">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </div>
        @if(this.product){
        <ion-label
          >Estado: {{ this.product.state ? 'Activo' : 'Inactivo' }}</ion-label
        >
        }
      </div>
    </form>
  </div>
</ion-content>
<ion-footer>
  <div class="footer-content">
    @if(this.product){
    <ion-button (click)="onDeactivateProduct()" color="danger">
      @if(this.product.state){ DESACTIVAR }@else { ACTIVAR }
    </ion-button>
    }
    <ion-button (click)="onSave()">GUARDAR</ion-button>
  </div>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="onSave()">GUARDAR</ion-button>
    </ion-buttons>
    @if(this.product){
    <ion-buttons slot="end">
      <ion-button (click)="onDeactivateProduct()" color="danger">
        @if(this.product.state){ DESACTIVAR }@else { ACTIVAR }
      </ion-button>
    </ion-buttons>
    }
  </ion-toolbar> -->
</ion-footer>
