<ion-header [translucent]="true">
  <app-header-bar
    [loading]="loading"
    [isModal]="false"
    [arrowBack]="true"
    [title]="title"
    [buttons]="headerButtons"
  ></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-button (click)="onSearchProduct()"> Buscar Producto </ion-button>
    <div class="image">
      <img src="{{ image }}" alt="" />
      <ion-button (click)="onChangePhoto()">Cambiar Imagen</ion-button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="form-content">
        <ion-input
          label="NOMBRE"
          formControlName="name"
          label-placement="stacked"
          fill="outline"
          placeholder="Ingrese el nombre del producto"
          [clearInput]="true"
        ></ion-input>
        <ion-input
          label="DESCRIPCIÓN"
          formControlName="desc"
          labelPlacement="stacked"
          fill="outline"
          placeholder="Ingrese una descripción"
          [clearInput]="true"
        ></ion-input>
        @if(this.product){
          <ion-label>Estado: {{ this.product.state ? 'Activo' : 'Inactivo' }}</ion-label>
        }

        <div class="footer-content">
          @if(this.product){
            <ion-button (click)="onDeactivateProduct()" color="danger">
              @if(this.product.state){
                DESACTIVAR
              }@else {
                ACTIVAR
              }
            </ion-button>
          }
          <ion-button type="submit">GUARDAR</ion-button>
        </div>

      </div>
    </form>
  </div>
</ion-content>
