<ion-header>
  <app-header-bar [arrowBack]="true" title="producto"></app-header-bar>
</ion-header>
<ion-content>
  <div class="content">
    <div class="image">
      @if(image){
        <img src="{{ image }}" alt="">
      }@else {
        <img src="../../../../assets/no-image.png" alt="">
      }
      <div class="meta">
        <ion-button shape="round" size="large">
          <ion-icon slot="icon-only" name="heart" size="large"></ion-icon>
        </ion-button>
        <ion-button shape="round" size="large">
          <ion-icon slot="icon-only" name="share-social" size="large"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="details">
      <p>Text</p>
    </div>
  </div>
</ion-content>
