.content {
  padding: 1em;

  .form-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

}
.footer-content{
  padding: .5em;
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  justify-content: center;

  ion-button{
    width:100%;
  }
}

.complex-input {
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  ion-button {
    height: 100%;
    width: 100%;

    ion-icon {
      font-weight: bolder;
      color: white;
    }
  }
}