.card{
  width: 5.5em;
  height: 5.5em;

  background-color: white;
  border-color: gray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .1em;
  box-shadow: 0px 0px 2px gray;
  gap: .5em;

  img{
    border-radius: 10px;
    max-width: 3em;
    max-height: 3em;
  }

  span{
    margin-bottom: .5em;
  }
}
