.card{
  width: 7em;
  height: 7em;

  background-color: white;
  border-color: gray;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 0px 2px gray;

  // @media(max-width: 243px){
  //   width: 100%;
  // }
}
