<ion-header>
  <app-header-bar
    title="LISTA DE CATEGORÍAS"
    [arrowBack]="true"
    [isModal]="true"
    [loading]="loading"
  ></app-header-bar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-searchbar (ionInput)="onSearch($event)" [debounce]="300" animated="true" placeholder="Puede buscar por id o nombre"></ion-searchbar>

    <ion-list>
      @for(category of categoriesFiltered; track category.category.id){
        <ion-item (click)="onClose(category)">
          <div class="item-content" [ngClass]="{'item-content-big':! category.category.state}">
            <img src="{{ category.image }}" alt="" />
            <p>{{ category.category.id }}.</p>
            <p>{{ category.category.name }}</p>
            @if(!category.category.state){
              <ion-label class="danger-text" color="danger">(Anulado)</ion-label>
            }
          </div>
        </ion-item>
      }
    </ion-list>
  </div>
</ion-content>
