.content{
    padding: 1em;

    .card-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5em;

        .tri{
            width: 100%;
            display: grid;
            grid-template-columns: 3em 5em 1fr;
            justify-content: space-between;
            align-items: center;
            gap: .5em;
        }
    }
}

.footer-content{
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5em;

    ion-button{
        width: 100%;
    }
}