<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">BIENVENIDO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          ESPERE MIESTRAS SE DESCARGAN LOS DATOS
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card-content">
          <ion-spinner color="primary" name="crescent"></ion-spinner>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
