hr{
  width:100%;
  background-color: lightgray;
}

.content{
  padding: 1em;

  .form-content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    *{
      width: 100%;
    }

    .complex-input{
      width: 100%;
      display: grid;
      grid-template-columns: 8fr 2fr;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      ion-button{
        height: 100%;
        width: 100%;

        ion-icon{
          font-weight:bolder;
          color: white;
        }
      }
    }

    .equivalency{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
}

.footer-content{
  width: 100%;
  height: 100%;
  padding: .5em;
  background-color: transparent !important;
  display: flex;
  flex-direction: column;
  gap: .5em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-button{
    width: 100%;
    ion-label{
      color: white;
    }
  }
}
