<ion-header>
  <app-header-bar title="Login" [showMenu]="false" [isModal]="false" [arrowBack]="false"></app-header-bar>
</ion-header>

<ion-content fullscreen>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicio de sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="login()">
          <div class="form-content">
            <ion-input formControlName="user" label="Nombre de usuario" label-placement="stacked" fill="outline"
              placeholder="Ingrese su nombre de usuario" type="text"></ion-input>
            <ion-input formControlName="pass" label="Contraseña" label-placement="stacked" fill="outline"
              placeholder="Ingrese su contraseña" type="password">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            <ion-checkbox formControlName="remember" labelPlacement="start">Recordar usuario</ion-checkbox>
            <ion-button type="submit">
              <ion-icon name="log-in" color="light"></ion-icon>
              <ion-label color="light">Entrar</ion-label>
            </ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>