.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    padding-top: 10vh; 

    ion-card{
        width: 100%;
        // margin-bottom: 15em;

        .form-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;

            ion-button{
                width: 100%;
            }
        }
    }
}