<ion-header>
  <app-header-bar
    [loading]="loading"
    title="PRODUCTOS"
    [showCart]="true"
  ></app-header-bar>
  <ion-toolbar color="primary">
    <ion-searchbar
      #searchBar
      animated="true"
      placeholder="Buscar producto"
      (ionInput)="search($event)"
      [debounce]="300"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="onReset($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content">
    
    <div class="category-part">
      <div class="title">
        <ion-label>Categorías</ion-label>
        <ion-label><a href="">Mostrar todas</a></ion-label>
      </div>
      <div class="categories">
        @for(category of this.categories; track category.category.id){
        <app-category-card
          (click)="filterByCategory(category.category)"
          [image]="category.image"
          [category]="category.category"
          [selectedCategory]="onSelectCategory.asObservable()"
        ></app-category-card>
        }
      </div>
    </div>

    <div class="products">
      @for(product of productsFiltered; track $index){
      <app-product-card
        [unitProduct]="product.unitProduct"
        (click)="onProductClick(product.product, product.unitProduct, product.image, product.categories)"
        (loadingEvent)="this.loading = $event"
        [product]="product.product"
        [image]="product.image"
      ></app-product-card>
      }@empty{
        @if(loading){
          <ion-label color="danger">Cargando...</ion-label>
        }@else{
          <ion-label color="danger">Sin productos</ion-label>
        }
      }
    </div>
  </div>
  <ion-infinite-scroll color="primary" (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content color="primary"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
