<ion-header [translucent]="true">
  <app-header-bar [loading]="loading" title="PRODUCTOS"></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-searchbar
      animated="true"
      placeholder="Buscar producto"
    ></ion-searchbar>
    <div class="category-part">
      <div class="title">
        <ion-label>Categorías</ion-label>
        <ion-label><a href="">Mostrar todas</a></ion-label>
      </div>
      <div class="categories">
        @for(category of this.categories; track category.id){
        <app-category-card image="../../../assets/apple.jpeg" [category]="category"></app-category-card>
        }
      </div>
    </div>

    <div class="products">
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
      <app-product-card></app-product-card>
    </div>
  </div>
</ion-content>
