<ion-header [translucent]="true">
  <app-header-bar [loading]="loading" title="PRODUCTOS" [showCart]="true"></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-searchbar
      animated="true"
      placeholder="Buscar producto"
    ></ion-searchbar>
    <div class="category-part">
      <div class="title">
        <ion-label>Categorías</ion-label>
        <ion-label><a href="">Mostrar todas</a></ion-label>
      </div>
      <div class="categories">
        @for(category of this.categories; track category.category.id){
        <app-category-card [image]="category.image" [category]="category.category"></app-category-card>
        }
      </div>
    </div>

    <div class="products" (scroll)="onScroll($event)">
      @for(product of productsFiltered; track product.product.id){
        <app-product-card [unitProduct]="product.unitProduct" (click)="onProductClick(product.product, product.unitProduct, product.image, product.categories)" (loadingEvent)="this.loading = $event" [product]="product.product" [image]="product.image"></app-product-card>
      }
      @if(loadingScroll){
        <ion-spinner color="primary" size="large" name="crescent"></ion-spinner>
      }
    </div>
  </div>
</ion-content>
