@import "../../../global.scss";

ion-content {
  --ion-background-color: rgb(250, 250, 250);
}
.content {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: top;
  align-items: center;
  width: 100%;
  height: 100%;

  ion-searchbar {
    padding: 0;
    width: 100%;
  }

  .category-part {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    align-items: center;

    .title{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
    }

    .categories {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1em;
      // flex-wrap: wrap;
      overflow-x: scroll;
      padding: .5em .1em;
      justify-content: center;
      align-items: center;

      @media(max-width: 415px){
        justify-content: space-around;
        gap: .5em;
      }
    }
  }

  .products {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 65%;
    overflow: auto;
  }
}
