<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title style="color: white">MENÚ</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="content">
        <ion-list>
          <ion-item *ngFor="let option of menuOptions">
            <ion-button (click)="option.do()">
              <div class="button-content">
                <ion-icon
                  *ngIf="option.icon"
                  slot="start"
                  name="{{ option.icon }}"
                ></ion-icon>
                <img
                  *ngIf="option.image"
                  slot="start"
                  src="{{ option.image }}"
                  alt=""
                />
                <ion-label size="large">{{ option.title }}</ion-label>
              </div>
            </ion-button>
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
