.content{
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap:1em;
  justify-content: center;
  align-items: center;

  ion-button{
    color: white;
    width: 100%;
  }

  ion-list{
    width: 100%;

    ion-item{
      width: 100%;
      margin-top: 1em;

      .duo{
        height: fit-content;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: .5em;

      }
    }
  }
}
.footer-content{
  padding: .5em;
  width: 100%;
  ion-button{
    width: 100%;
  }
}

#loading-img{
  width: 100px;
}