<ion-header [translucent]="true">
  <app-header-bar title="PEDIDOS" [loading]="loading" [isModal]="false" [showCart]="true"></app-header-bar>

  <form [formGroup]="searchForm">
    <ion-toolbar color="primary">
      <ion-searchbar formControlName="name" placeholder="Buscar por nombre del cliente" slot="start"></ion-searchbar>
      <ion-select formControlName="params" slot="end" color="light" placeholder="Filtrar por">
        <ion-select-option value="all">Todos</ion-select-option>
        <ion-select-option value="enable">Activos</ion-select-option>
        <ion-select-option value="disable">Inactivos</ion-select-option>
        <ion-select-option value="processed">Procesados</ion-select-option>
      </ion-select>
    </ion-toolbar>
  </form>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-list lines="none" [inset]="false">

      @for(order of this.orders; track order.id){
      <ion-item (click)="onClick(order)">
        <ion-card>
          <ion-card-header>
            <div class="header-content">
              <ion-card-title>PEDIDO #{{ order.id }}</ion-card-title>
              @if(order.state){
              @if(order.processed){
              <ion-label color="success"><b>Procesado</b></ion-label>
              }@else{
              <ion-label color="danger">Sin procesar</ion-label>
              }
              }@else {
              <ion-label color="danger"><b>Cancelado</b></ion-label>
              }
            </div>

          </ion-card-header>
          <ion-card-content>
            <div class="card-content">
              <div class="item">
                <img src="../../../assets/icon/smile-face.png" alt="Not found">
                <div class="text-duo">
                  <ion-label><b>Cliente:</b></ion-label>
                  <ion-label>{{ order.name }}</ion-label>
                </div>
              </div>
              <div class="item">
                <img src="../../../assets/icon/address.png" alt="Not found">
                <div class="text-duo">
                  <ion-label><b>Dirección:</b></ion-label>
                  <ion-label>{{ order.address }}</ion-label>
                </div>
              </div>
              <div class="item">
                <img src="../../../assets/icon/phone.png" alt="Not found">
                <div class="text-duo">
                  <ion-label><b>Teléfono:</b></ion-label>
                  <ion-label>{{ order.phone }}</ion-label>
                </div>
              </div>
              <div class="item">
                <img src="../../../assets/icon/date.png" alt="Not found">
                <div class="text-duo">
                  <ion-label><b>Fecha:</b></ion-label>
                  <ion-label>{{ order.date | date:'dd/MM/yyyy hh:mm a' }}</ion-label>
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
      }@empty {
      @if(this.loading){
      <ion-label color="danger">Cargando...</ion-label>
      }@else {
      <ion-label color="danger">No hay pedidos.</ion-label>
      }
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>