<ion-header [translucent]="true">
  <app-header-bar
    [loading]="loading"
    title="VENTAS"
    [arrowBack]="true"
    [isModal]="false"
  ></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <ion-card>
      <ion-card-content>
        <div class="card-content">
          <ion-label
            ><b>Fecha de venta:</b> {{ this.purchase?.date | date:'dd-MM-yyyy
            hh:mm a' }}</ion-label
          >
          <ion-label
            ><b>Total:</b> ${{ this.purchase?.total | number:'1.2-2'
            }}</ion-label
          >
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title> DETALLES </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <div class="item-content">
              <p><b>Nombre</b></p>
              <p><b>Unidad</b></p>
              <p><b>Cantidad</b></p>
              <p><b>Precio</b></p>
              <p><b>Total</b></p>
            </div>
          </ion-item>
          @for(detail of this.purchaseDetails; track $index){
          <ion-item>
            <div class="item-content">
              <p class="detail-name">{{ detail.product.name }}</p>
              <p>
                {{ detail.unit.shortcut ? detail.unit.shortcut :
                detail.unit.name }}
              </p>
              <p>{{ detail.detail.amount | number: '1.2-2' }}</p>
              <p>${{ detail.detail.priceUsed | number: '1.2-2' }}</p>
              <p>
                ${{ +detail.detail.amount * +detail.detail.priceUsed | number:
                '1.2-2' }}
              </p>
            </div>
          </ion-item>
          }
          <ion-item>
            <div class="item-content">
              <p><b>*</b></p>
              <p><b>*</b></p>
              <p><b>*</b></p>
              <p><b>*</b></p>
              <p><b>${{ this.purchase?.total | number:'1.2-2' }}</b></p>
            </div>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
