<ion-header [translucent]="true">
  <app-header-bar [loading]="loading" title="CARRITO"></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    @for(product of this.products; track product.product.id){
    <div class="cart">
      <div class="icon">
        <img
          [src]="product.photo ? product.photo : '../../../assets/no-image.png'"
          alt=""
        />
      </div>
      <div class="cart-content">
        <div class="cart-header">
          <ion-label>{{ product.product.name }}</ion-label>
          <ion-icon (click)="removeProduct(product)" color="danger" name="trash" slot="icon-only"></ion-icon>
        </div>
        <ion-label><b>${{ product.unit.price | number:'1.2-2' }}</b></ion-label>
        <div class="cart-footer">
          <span>Total: ${{ getTotalArticulo(product) | number:'1.2-2' }}</span>
          <ion-input
            [disabled]="loading"
            label-placement="stacked"
            fill="outline"
            label="Cantidad"
            type="number"
            name="amount-{{product.product.id}}"
            [(ngModel)]="product.amount"
          ></ion-input>
        </div>
      </div>
    </div>
    }@empty {
      @if(loading){
        <ion-label color="danger">CARGANDO...</ion-label>
      }@else {
        <ion-label>SIN ARTÍCULOS EN EL CARRITO</ion-label>
      }
    }
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-label slot="start" color="light">Total: ${{ getTotal() | number:'1.2-2' }}</ion-label>
    <ion-button (click)="onSave()" color="secondary" slot="end">Realizar Compra</ion-button>
  </ion-toolbar>
</ion-footer>
