.content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  .complex-input {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    ion-button {
      height: 100%;
      width: 100%;

      ion-icon {
        font-weight: bolder;
        color: white;
      }
    }
  }

  form {
    width: 100%;
    .form-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
}
ion-footer {
  .footer-content {
    padding: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

    ion-button {
      width: 100%;
      color: white;
    }
  }
}
