<ion-header [translucent]="true">
  <app-header-bar
    [title]="'UNIDADES'"
    [arrowBack]="true"
    [isModal]="false"
    [buttons]="headerButtons"
  ></app-header-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="complex-input">
      <ion-input
        [disabled]="true"
        labelPlacement="stacked"
        fill="outline"
        label="Modificar unidad"
        placeholder="Buscar unidad"
        [value]="unit?.name"
      ></ion-input>
      <ion-button (click)="onSearchUnit()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSave()">
      <div class="form-content">
        <ion-input
          formControlName="name"
          labelPlacement="stacked"
          fill="outline"
          label="Nombre"
          placeholder="Ingrese un nombre de unidad"
        ></ion-input>

        <ion-input
          labelPlacement="stacked"
          fill="outline"
          label="Abreviatura"
          placeholder="Ingrese una abreviatura"
          formControlName="short"
        ></ion-input>

        <div class="footer-content">
          @if(unit){
          <ion-button (click)="deactivate()" color="danger" type="button">
            <ion-label>DESACTIVAR</ion-label>
          </ion-button>
          }

          <ion-button [disabled]="loading" type="submit">
            <ion-label>GUARDAR</ion-label>
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
