<ion-toolbar color="primary">
  <ion-buttons slot="start">
    @if(arrowBack){
    <ion-button (click)="close()">
      <ion-icon class="menu-icon" size="large" name="arrow-back"></ion-icon>
    </ion-button>
    }@else {
    <ion-button (click)="openMenu()" slot="icon-only">
      <ion-icon class="menu-icon" size="large" name="menu"></ion-icon>
    </ion-button>
    }
  </ion-buttons>
  <ion-title>{{ title | uppercase }}</ion-title>
  @if(showCart){
  <ion-buttons slot="end">
    <ion-button (click)="goTo('/cart')" slot="icon-only">
      <div class="icon-content">
        <ion-icon class="menu-icon" name="cart" size="large"></ion-icon>
        @if(cart && cart.products.length > 0){
        <span>{{ cart.products.length }}</span>
        }
      </div>
    </ion-button>
  </ion-buttons>
  }
</ion-toolbar>
<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
