<ion-header>
  <app-header-bar [title]="`Compra de mercancías #${this.income?.id || 0}`" [arrowBack]="true" [isModal]="false"
    [loading]="loading"></app-header-bar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos generales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="card-content">
          <ion-label><b>Fecha:</b> {{this.income?.date | date:'dd-MM-yyyy hh:mm a'}}</ion-label>
          <ion-label><b>Costos totales:</b> ${{this.income?.totalCost | number:'1.2-2'}}</ion-label>
          <ion-label><b>Cantidad de productos:</b> {{this.details.length}}</ion-label>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="details">
      <div style="width: 100%;">
        <ion-label><b>Detalles</b></ion-label>
        <hr>
      </div>
      <ion-list lines="none">
        @for(detail of detailsFiltered; track $index){
        <ion-item>
          <ion-card class="detail-card">
            <ion-card-header>
              <ion-card-title>
                {{ detail.product.name }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="card-content-big">
                <div class="img">
                  <img src="{{detail.image}}" alt="Not found">
                </div>
                <div class="left">
                  <ion-label><b>Unidad:</b> {{detail.unit.name}}</ion-label>
                  @if(detail.baseUnit){
                  <ion-label><b>Unidad base: </b>{{ detail.baseUnit.name }}</ion-label>
                  }
                </div>
                <div class="right">
                  <ion-label><b>Costo: </b>${{detail.detail.cost | number:'1.2-2'}}</ion-label>
                  <ion-label><b>Cantidad: </b>{{detail.detail.amount}}</ion-label>
                  @if(detail.baseUnit){
                  <ion-label><b>Cantidad base: </b>{{detail.detail.amountBaseUnit}}</ion-label>
                  }
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>
        }@empty{
        @if(loading){
        <ion-label color="danger">Cargando...</ion-label>
        }@else {
        <ion-label color="danger">Sin detalles</ion-label>
        }
        }
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
</ion-content>