.content{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    ion-list{
        padding: 0;
    }
    ion-card{
        width: 100%;
    }

    .card-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .card-content-big{
        // padding: 1em;
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 5fr 5fr;
        gap: .5em;
        justify-content: center;
        align-items: center;

        .img{
            img{
                min-width: 3em;
                width: 5em;
            }
        }
    }
}

hr{
    background-color: lightgray;
    width: 100%;
}

.footer-content{
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;

    ion-button{
        width: 100%;
    }
}