.content{
  padding: 1em;

  ion-list{
    ion-item{
      .item-content{
        margin: .3em 0;
        display: grid;
        grid-template-columns: 2fr 1.5em 10fr;
        gap: .6em;
        justify-content: center;
        align-items: center;
        img{
          width: 3em;
          border-radius: 10px;
        }
        p{
          margin: 0;
        }
      }

      .null{
        grid-template-columns: 2fr 1.5em 10fr auto;

        .danger-text{
          color: red;
        }
      }
    }
  }
}
