<ion-header>
  <app-header-bar [loading]="this.loading" [title]="this.title" [isModal]="true"
    [arrowBack]="true"></app-header-bar>
  <ion-toolbar color="primary">
    <ion-searchbar (ionInput)="onSearch($event)" [debounce]="300" animated="true" placeholder="Buscar por ID, nombre o dirección"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content">
    <ion-list>
      @for(client of clientsFiltered; track client.id){
      <ion-item (click)="onClick(client)">
        <div class="item-content">
          <div class="img">
            <img src="../../../../assets/icon/smile-face.png" alt="Not found">
          </div>
          <ion-label>{{ client.id }}.</ion-label>
          <ion-label>{{ client.name }}</ion-label>
          @if(this.showWithBalance){
            <ion-label color="danger">${{client.balance | number:'1.2-2'}}</ion-label>
          }
          @if(!client.state){
          <ion-label color="danger">Anulado</ion-label>
          }
        </div>
      </ion-item>
      }@empty {
        @if(loading){
          <ion-label color="danger">Cargando...</ion-label>
        }@else {
          <ion-label color="danger">Sin elementos</ion-label>
        }
      }
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>